.Container__nav{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(44, 44, 44, 0.8);
    width: 100%;
    height: 60px;
    align-items: center;
    position: fixed;
}

.Container__nav button{
    font-family: 'Bai Jamjuree', sans-serif;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

.Container__nav input{
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 2rem;
}

.Container__nav button a{
    margin: .5rem;
}

.button__logout{
    display: flex;
    gap: .5rem;
    align-items: center;
}