.cards__cont{
    width: 300px;
    background-color: rgba(219, 217, 217, 0.8);
    margin: 1rem;
    border-radius: 1rem;
}

img{
    margin-top: 1rem;
    border-radius: 1rem;
    width: 250px;
}

a{
    text-decoration: none;
    color: rgb(69, 34, 69);
    width: 200px
}