.container__search{
    gap: 1rem;
    display: flex;
    align-items: center;
}

.button__search{
    margin: 2rem;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.button__one{
    position: relative;
    right: 3.5rem;
}

.input__search{
    padding: .3rem 1rem;
}

.button__search:hover{
    background-color: rgb(250, 247, 247);
    transition: all ease-in-out .3s;
}

@media screen and (max-width:500px) {
    .container__search{
        flex-direction: column;
    }
}

@media screen and (max-width:1200px) {

    .button__search{
        margin: 0;
    }

    .button__search p {
        display: none;
    }

    .button__one{
        margin-left: 1rem;
    }

    input__search{
        padding: .3 .5rem;
    }
}